@page
@using TaskManagerDomain
@model CreateModel
@{
    ViewData["Title"] = "Criação de Tarefa";
}
<h1>@ViewData["Title"]</h1>

<form method="post">
    <div class="form-group">
        <label for="Titulo">Título</label>
        <input type="text" class="form-control" id="Titulo" asp-for="NovaTarefa.Titulo" />
        <span asp-validation-for="NovaTarefa.Titulo" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="Descricao">Descrição</label>
        <input type="text" class="form-control" id="Descricao" asp-for="NovaTarefa.Descricao" />
        <span asp-validation-for="NovaTarefa.Descricao" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="Prioridade">Prioridade</label>
        <select class="form-control" id="Prioridade" asp-for="NovaTarefa.Prioridade" asp-items="Html.GetEnumSelectList<Prioridade>()"></select>
        <span asp-validation-for="NovaTarefa.Prioridade" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="DataLimite">Data Limite</label>
        <input type="date" class="form-control" id="DataLimite" asp-for="NovaTarefa.DataLimite" />
        <span asp-validation-for="NovaTarefa.DataLimite" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="Status">Status</label>
        <select class="form-control" id="Status" asp-for="NovaTarefa.Status" asp-items="Html.GetEnumSelectList<Status>()"></select>
        <span asp-validation-for="NovaTarefa.Status" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Salvar</button>
</form>

<a asp-page="Index">Voltar para lista</a>